* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header  */

.fm-container {
  margin: 0 auto;
  max-width: 1800px;
}

header {
  margin-top: 50px;
}

h1 {
  padding-bottom: 40px;
  font-size: 55px;
}

header p {
  font-size: 26px;
  padding-bottom: 60px;
}

/* main  */

.text-card {
  font-size: 20px;
}

.card {
  width: 550px;
  display: flex;
  flex-direction: row;
}

img{
  width: 30%;
}

.text{
  width: 70%;
  padding: 15px;
}

.form-input{
  padding-bottom: 15px;
}

form{
  padding-left: 40px;
  padding-top: 50px;
  background-color: rgba(22, 21, 21, 0.977);
  border-radius: 25px;
}

.registrati{
  width: 100%;
}

input {
  border-radius: 12px;
}

h3 {
  font-size: 40px;
}

.form-container {
  margin: 0 auto;
  max-width: 1720px;
}

